/* google fonts from google  */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
   
font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);

  padding: 30px 150px;
  }
nav{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
}

.banner_container{
   max-width: 800px;
   margin: 0 auto;
}
.banner_title{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: Work Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.banner_description{
    color: var(--Dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.banner_button{
    width: 180px;
height: 64px;
border-radius: 8px;
background: #FF900E;
margin: 10px 300px 50px 300px;

border: 0;
cursor: pointer;


}
.bnr_btn{
    color: #FFF;

text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
}
.bnr_image{
    width: 100%;
}
.nav_title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}
nav> ul{
    display: flex;
   
}
nav li{
   
    color: var(--Dark-02, #424242);
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
list-style: none;
margin-right: 50px;

}
nav li a{
    text-decoration: none;
}
/* main section style */
main{
    max-width: 1440px;
    /* margin: 0 auto; */
    margin-left:200px ;
    margin-right: 200px;
    margin-top: 50px;
    }
.teams_container{
    display: flex;
    gap: 70px;
}
.teams_content{
   margin-top: 150px;
}
.teams_description{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-top: 15px;
}
.teams_button{
    width: 180px;
height: 64px;
border-radius: 8px;
background: #FF900E;
color: #FFF;
border: 0
;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
margin-top: 20px;
}
#team1{
    color: var(--Dark-03, #727272);

font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 500;
}
#team2{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
}
#team3{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}
.teams_img_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 10px;
}
/* media quaries responsive*/
/* Mobile phone */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner_button{
        margin-left: 100px;
    }
}
/* media quaries responsive*/
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:992px){
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    .banner_button{
        margin-left: 180px;
    }
    .teams_container{
        flex-direction: column;
    }
    main{
        margin-left:50px ;
        margin-right: 50px;
        
       
    }

}

@media screen and (max-width:576px) {
    .teams_container, .teams_img_container{
        flex-direction: column;
    }
    main{
        margin-left:50px ;
        margin-right: 50px;
        
       
    }
    .teams_img_container{
        grid-template-columns: 1fr;
    }
.teams_content{
    margin-top: 40px;
}
}
